<mat-card class="poke-card">
    <mat-card-header class="mat-header1">
        <img mat-card-avatar
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/{{Pokemon.id}}.png"
            alt="">
        <mat-card-title><strong>{{Pokemon.nombre}}</strong></mat-card-title>
        <mat-card-subtitle>{{Pokemon.hobbie}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img class="mat-card-image2"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/{{Pokemon.id}}.png"
            alt="">
        <p>
            {{Pokemon.efecto}}
        </p>
    </mat-card-content>
   
</mat-card>