<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand a-nave" >{{ 'DETAIL.TITLE' | translate }}</a>
        <button class="btn btn-outline-info my-2 my-sm-0" [routerLink]= "['/']" type="submit">{{ 'DETAIL.BACK' | translate }}</button>
    </nav>
    <br><br>
    <div>
      <card-pokemon [Pokemon]=Pokemon></card-pokemon>
    </div>

</body>
</html>